In [1]:
 import pandas as pd
 import mysql.connector 

 host = '127.0.0.1' 
 user = 'root' 
 password = '' 
 database = 'ordermanagementdb'

In [2]:
 connection = mysql.connector.connect( 
 host=host, 
 user=user, 
 password=password, 
 database=database 
 )  
 customers = pd.read_sql('SELECT * FROM customers', connection) 
 products = pd.read_sql('SELECT * FROM products', connection) 
 orders = pd.read_sql('SELECT * FROM orders', connection) 
 orderitems = pd.read_sql('SELECT * FROM orderitems', connection) 
 #connection.close()
 print(customers)
 print(products)
 print(orders)
 print(orderitems)

    CustomerID FirstName    LastName                         Email     Phone  \
0            1      Amit      Sharma       amit.sharma@example.com  555-0101
1            2    Rajesh       Kumar      rajesh.kumar@example.com  555-0102
2            3    Vikram       Singh      vikram.singh@example.com  555-0103
3            4    Sunita         Rai        sunita.rai@example.com  555-0104
4            5     Anita       Gupta       anita.gupta@example.com  555-0105
..         ...       ...         ...                           ...       ...
95          96    Monika      Duggal     monika.duggal@example.com  555-0196
96          97      Ravi       Bajaj        ravi.bajaj@example.com  555-0197
97          98     Nisha  Chaturvedi  nisha.chaturvedi@example.com  555-0198
98          99     Tarun       Goyal       tarun.goyal@example.com  555-0199
99         100     Kavya        Soni        kavya.soni@example.com  555-0200

        Address   City  State ZipCode
0   123 Main St  Delhi  Delhi  110001
1   124 Main St  Delhi  Delhi  110002
2   125 Main St  Delhi  Delhi  110003
3   126 Main St  Delhi  Delhi  110004
4   127 Main St  Delhi  Delhi  110005
..          ...    ...    ...     ...
95  218 Main St  Delhi  Delhi  110096
96  219 Main St  Delhi  Delhi  110097
97  220 Main St  Delhi  Delhi  110098
98  221 Main St  Delhi  Delhi  110099
99  222 Main St  Delhi  Delhi  110100

[100 rows x 9 columns]
    ProductID               ProductName       Category  Price  Stock
0           1               Amul Butter          Dairy   45.0    100
1           2          Parle-G Biscuits         Snacks   10.0    500
2           3                 Tata Salt        Grocery   20.0    300
3           4      Surf Excel Detergent      Household  200.0    150
4           5               Dabur Honey        Grocery  250.0     80
5           6            Maggie Noodles         Snacks   12.0    400
6           7             Red Label Tea      Beverages  150.0    200
7           8            Nescafe Coffee      Beverages  300.0    120
8           9           Britannia Bread         Bakery   30.0    250
9          10            Patanjali Ghee          Dairy  500.0     90
10         11        Colgate Toothpaste  Personal Care   50.0    220
11         12        Haldiram’s Namkeen         Snacks  100.0    300
12         13           Nestle Milkmaid          Dairy  120.0    110
13         14           Godrej Hair Dye  Personal Care   60.0     70
14         15     Horlicks Health Drink      Beverages  400.0    130
15         16       Fortune Cooking Oil        Grocery  110.0    180
16         17                 Bournvita      Beverages  350.0    140
17         18          Ponds Cold Cream  Personal Care   75.0    200
18         19               Dettol Soap  Personal Care   30.0    400
19         20            Lakme Lipstick      Cosmetics  250.0     60
20         21           Pampers Diapers      Baby Care  500.0     50
21         22     Johnson’s Baby Powder      Baby Care  100.0     80
22         23                Kissan Jam        Grocery  150.0     90
23         24       McCain French Fries    Frozen Food  200.0     50
24         25      Kellogg’s Cornflakes      Breakfast  300.0    100
25         26             Tata Tea Gold      Beverages  200.0    180
26         27        Lifebuoy Hand Wash  Personal Care   80.0    140
27         28           Aashirvaad Atta        Grocery  400.0    210
28         29                Lays Chips         Snacks   20.0    600
29         30               Bingo Chips         Snacks   20.0    600
30         31                     Pepsi      Beverages   40.0    300
31         32                 Coca-Cola      Beverages   40.0    300
32         33                    Sprite      Beverages   40.0    300
33         34                     Fanta      Beverages   40.0    300
34         35                  Thums Up      Beverages   40.0    300
35         36                     Maaza      Beverages   50.0    300
36         37                     Slice      Beverages   50.0    300
37         38             Bisleri Water      Beverages   20.0    500
38         39            Aquafina Water      Beverages   20.0    500
39         40              Kinley Water      Beverages   20.0    500
40         41         Cavin’s Milkshake      Beverages   30.0    200
41         42          Real Fruit Juice      Beverages  120.0    150
42         43              Dove Shampoo  Personal Care  200.0    100
43         44       Clinic Plus Shampoo  Personal Care  150.0    120
44         45           Pantene Shampoo  Personal Care  180.0     90
45         46  Head & Shoulders Shampoo  Personal Care  190.0    110
46         47       Fair & Lovely Cream  Personal Care   99.0    150
47         48                Pears Soap  Personal Care   40.0    400
48         49                  Lux Soap  Personal Care   30.0    400
49         50             Rin Detergent      Household   60.0    300
     OrderID   OrderDate  CustomerID
0          1  2023-03-15          40
1          2  2023-07-11          17
2          3  2023-03-26           8
3          4  2023-09-29          27
4          5  2023-11-27          54
..       ...         ...         ...
495      496  2023-09-14         100
496      497  2023-08-07          77
497      498  2023-02-07          87
498      499  2023-01-17          31
499      500  2023-10-02          91

[500 rows x 3 columns]
     OrderItemID  OrderID  ProductID  Quantity   Price
0              1      439         14         8   88.45
1              2      383         24         1  107.70
2              3      322         15         5   68.37
3              4      230         28         4   15.69
4              5      137         10         2   35.41
..           ...      ...        ...       ...     ...
995          996      335         16         6   82.83
996          997       26          4         3   95.82
997          998      322         32         3   48.48
998          999       74         29         5   58.40
999         1000       47          1         8   94.14

[1000 rows x 5 columns]

C:\Users\tejas jaiswal\AppData\Local\Temp\ipykernel_19660\1664400320.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql('SELECT * FROM customers', connection)
C:\Users\tejas jaiswal\AppData\Local\Temp\ipykernel_19660\1664400320.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products = pd.read_sql('SELECT * FROM products', connection)
C:\Users\tejas jaiswal\AppData\Local\Temp\ipykernel_19660\1664400320.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql('SELECT * FROM orders', connection)
C:\Users\tejas jaiswal\AppData\Local\Temp\ipykernel_19660\1664400320.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderitems = pd.read_sql('SELECT * FROM orderitems', connection)

In [4]:
 print(customers.info())
 print(products.info())
 print(orders.info())
 print(orderitems.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  100 non-null    int64
 1   FirstName   100 non-null    object
 2   LastName    100 non-null    object
 3   Email       100 non-null    object
 4   Phone       100 non-null    object
 5   Address     100 non-null    object
 6   City        100 non-null    object
 7   State       100 non-null    object
 8   ZipCode     100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    50 non-null     int64
 1   ProductName  50 non-null     object
 2   Category     50 non-null     object
 3   Price        50 non-null     float64
 4   Stock        50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     500 non-null    int64
 1   OrderDate   500 non-null    object
 2   CustomerID  500 non-null    int64
dtypes: int64(2), object(1)
memory usage: 11.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderItemID  1000 non-null   int64
 1   OrderID      1000 non-null   int64
 2   ProductID    1000 non-null   int64
 3   Quantity     1000 non-null   int64
 4   Price        1000 non-null   float64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB
None

In [3]:
# Handle missing values
customers.fillna('', inplace=True)
orders.fillna('', inplace=True)
products.fillna('', inplace=True)
orderitems.fillna('', inplace=True)

# Ensure correct data types
customers = customers.astype({'CustomerID': 'int64', 'FirstName': 'object', 'LastName': 'object', 'Email': 'object', 'Phone': 'object', 'Address': 'object', 'City': 'object', 'State': 'object', 'ZipCode': 'object'})
orders = orders.astype({'OrderID': 'int64', 'OrderDate': 'datetime64[ns]', 'CustomerID': 'int64'})
products = products.astype({'ProductID': 'int64', 'ProductName': 'object', 'Category': 'object', 'Price': 'float64', 'Stock': 'int64'})
orderitems = orderitems.astype({'OrderItemID': 'int64', 'OrderID': 'int64', 'ProductID': 'int64', 'Quantity': 'int64', 'Price': 'float64'})

In [5]:
# Calculate total amount spent by each customer
orderitems['TotalPrice'] = orderitems['Quantity'] * orderitems['Price']
customer_spending = orderitems.groupby('OrderID')['TotalPrice'].sum().reset_index()
customer_orders = orders.merge(customer_spending, on='OrderID')
customer_summary = customer_orders.groupby('CustomerID').agg({
    'OrderID': 'count',
    'TotalPrice': 'sum'
}).rename(columns={'OrderID': 'OrderCount', 'TotalPrice': 'TotalSpent'}).reset_index()

# Segment customers based on their purchasing behavior
def segment_customer(row):
    if row['OrderCount'] > 10 and row['TotalSpent'] > 1000:
        return 'High Value'
    elif row['OrderCount'] > 5:
        return 'Medium Value'
    else:
        return 'Low Value'

customer_summary['Segment'] = customer_summary.apply(segment_customer, axis=1)

# Display customer segments
print(customer_summary)
customer_summary.to_excel('customer_summary.xlsx',index=False)

    CustomerID  OrderCount  TotalSpent       Segment
0            1           2      425.49     Low Value
1            2           4     5118.36     Low Value
2            3           1      216.40     Low Value
3            4           3     2184.87     Low Value
4            5           3     2007.19     Low Value
..         ...         ...         ...           ...
94          96           5     2647.87     Low Value
95          97           5     2962.03     Low Value
96          98           5     2258.96     Low Value
97          99           7     6042.43  Medium Value
98         100           8     6853.08  Medium Value

[99 rows x 4 columns]

In [12]:
from sklearn.linear_model import LinearRegression
import numpy as np

def predict_future_sales(orders, orderitems):
    # Prepare the data
    orderitems['TotalPrice'] = orderitems['Quantity'] * orderitems['Price']
    sales_data = orders.merge(orderitems.groupby('OrderID')['TotalPrice'].sum().reset_index(), on='OrderID')
    sales_data['OrderDate'] = pd.to_datetime(sales_data['OrderDate'])
    sales_data['OrderYearMonth'] = sales_data['OrderDate'].dt.to_period('M')
    monthly_sales = sales_data.groupby('OrderYearMonth')['TotalPrice'].sum().reset_index()
    
    # Convert period to datetime for regression analysis
    monthly_sales['OrderYearMonth'] = monthly_sales['OrderYearMonth'].dt.to_timestamp()
    
    # Prepare the features and target variable
    X = np.array(range(len(monthly_sales))).reshape(-1, 1)
    y = monthly_sales['TotalPrice'].values

    # Train the linear regression model
    model = LinearRegression()
    model.fit(X, y)

    # Predict future sales (next 6 months)
    future_months = np.array(range(len(monthly_sales), len(monthly_sales) + 6)).reshape(-1, 1)
    future_sales = model.predict(future_months)
    
    # Return the predicted sales
    return future_sales

# Predict future sales
future_sales = predict_future_sales(orders, orderitems)
print("Future Sales (next 6 months):", future_sales)

Future Sales (next 6 months): [26915.29333333 26808.87679487 26702.46025641 26596.04371795
 26489.62717949 26383.21064103]

In [6]:
customers.to_excel('customers.xlsx',index=False)
products.to_excel('products.xlsx',index=False)
orders.to_excel('orders.xlsx',index=False)
orderitems.to_excel('orderitems.xlsx',index=False)